<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
    default-init-method="start"
    default-lazy-init="true"
    >

<bean id="customer1" class="com.ssi.Customer">
	<property name="code" value="1111"/>
	<property name="cname" value="ABC"/>
</bean>
<bean id="customer2" class="com.ssi.Customer">
	<property name="code" value="2222"/>
	<property name="cname" value="MNO"/>
</bean>

<bean id="product1" class="com.ssi.Product">
	<property name="pcode" value="P111"/>
	<property name="pname" value="XYZ"/>
</bean>

<bean id="supplier1" class="com.ssi.Supplier">
	<property name="scode" value="S111"/>
	<property name="sname" value="PQR"/>
</bean>

<!-- <bean class="com.ssi.MyBeanPostProcessor"/> -->

</beans>

